body {
    /* background-color: rgba(50, 50, 50, .9); */
}

.hidden {
    display: none;
}

.show {
    display: default;
}

#messages {

}

.rpsChoice {
    height: 200px
}

#chat-display {
    height: 300px;
    overflow-y: scroll;
}

#connected {
    height: 300px;
    overflow-y: scroll;
}

p {
    margin: 0;
    padding: 0;
    padding: 2px;
    margin-top: 2px;
}